*{
    font-family: Helvetica, Arial, sans-serif;
}

body{
    background:linear-gradient(
        rgb(135, 206, 235), rgb(50, 100, 235)
    ), center;
    /* background-image: url("resources/profilePic.jpeg"); */
    background-repeat: no-repeat;
    padding-top:90px;
    /* min-width:1027px;
    min-height:1027px; */
}

.profile-pic{
    border-radius: 50%;
    margin-top:30%;
    margin-left:30%;
}

/* Navbar */
.navbar{
    background:linear-gradient(rgb(50,100,235), rgb(135,206,235));
}
    .nav-name{
        color:green;
        font-size:25px;
    }

    #nav-items{
        margin-left:auto;
        font-size:25px;
    }

    .nav-item{
        margin-left:25px;
    }

/* For general section CSS */
.section-heading{
    font-weight: bold;
    text-align:center;
    margin-bottom:20px;
}
.content-topic{
    padding-top:85px;
}

/* About Me */
#aboutme{
    margin:0px auto;
    /* padding:0px 15px; */
    overflow: auto;
    width:100%;
}
    #aboutme-pic{
        border-radius:20px;

    }
    .aboutme-text{
        text-indent: 1em;
        /* display:inline-block; */
    }

/* Projects */
#projects{
    margin:0px auto;
}
#projects-wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    }
    .project-container{
        border:2px solid yellowgreen;
        padding:10px;
    }
        .project-pic{
            display:block;
            width:270px;
            margin: 20px auto;
            object-fit:contain;
        }
        .project-name{
            text-align:center;
        }
            .project-name > a{
                color:navy;
            }
        .project-tags{
            margin:10px auto;
            text-align:center;
            color:orangered;
            /* display:flex;
            flex-direction:row;
            flex-wrap:wrap; */
        }
            .project-tag{
                background-color:rgb(248, 248, 152);
                border-radius:10px;
                padding:3px 5px;
                margin:5px;
                line-height:30px;
            }
        .project-description{
            text-indent: 30px;
            text-justify: auto;
        }

/* Resume */
#resume{
    margin:0px auto 20px auto;
}
    #resume-object{
        margin:0px auto;
        width:80%;
        height:800px;
    }
    #resume-text {
        text-align:center;
        /* text-indent: 10%; */
    }
        #resume-link{
            color:navy;
        }
    #resume-skills{
        width:80%;
        margin:0px auto;
        padding:20px;
        /* border:1px solid salmon; */
    }
    .resume-subheading{
        
        color:red;
    }

/* Contact */
#contact{
    margin:0px auto 10% auto;
    padding:5%;
}
#contact-wrapper{
    margin:0px auto 10% auto;
    text-align:center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}
    .contact-link{
        color:navy;
    }
        .contact-logo{
            width:50px;
            height:auto;
            background-color:transparent;
        }

/* Responsive Design */

/* @media only screen and (max-width: 360px){
    #aboutme{
        width:320px;
    }
    #projects-wrapper{
        width:320px;
    }
} */
@media only screen and (max-width: 480px){
    /* Aboutme */
    #aboutme{
        /* width:420px; */
        padding:15px;
        overflow: auto;
        width:100%;
    }
        #aboutme-pic{
            display:block;
            margin:10px auto 5px auto;
        }
        .aboutme-text{
            margin:0px auto;
            font-size:16px;
            padding: 0px 15px;
        }
    /* Projects */
    #projects{
        width:420px;
    }
        #projects-wrapper{
            flex-direction: column;
        }
            .project-container{
                margin-bottom:30px;
            }
    /* Resume */
    #resume{
        width:400px;
    }
        #resume-text{
            font-size: 22px;
        }

    /* Contact */
    .contact-link-text{
        display:none;
    }
}
@media only screen and (min-width:481px){
    /* Aboutme */
    #aboutme{
    }
        #aboutme-pic{
            float:left;
            margin:0px 15px;
        }
        .aboutme-text{
            padding:0px;
            margin:50px 15px 0px 15px;
        }
        .p-break{
            margin:0px 15px;
        }

    /* Project */
    #projects{
    }
        .project-container{
            width:300px;
        }

    /* Resume */
    #resume{

    }

    /* Contact */

}
@media only screen and (max-width:750px){
    /* Contact */
    .contact-link-text{
        display:none;
    }
}
@media only screen and (min-width:1024px){
    /* Aboutme */
    #aboutme{
        width:900px;
    }

    /*  */
    #projects{
        width:900px;
    }
}